<h1><%= @repository.repo_name %></h1>

URL: &nbsp&nbsp
<%= @repository.repo_url %>
<br><br>
Description: &nbsp&nbsp
<%= @repository.description %>
<div class="clearfix"></div>
<%= link_to "Edit #{@repository.repo_name}", edit_category_repository_path %>
