<div class="header">
  <div class="hdrRow1">
    <ul class="top-sm">
      <li class="right">800-355-2137</li>
      <li>Login</li>
      <li>Create Account</li>
      <li>Favorites List</li>
    </ul>
  </div>
  <hr>
  <div class="hdrRow2">
    <div class="logoandslogan">
      <img src="/images/fmg-topnav-logo.png" />
    </div>
    <div class="slogan">
      <img src="/images/slogan-americas-favorite.png" />
    </div>
    <div class="helpcart">
      <img src="/images/livehelp.png" />
      <img src="/images/mycart.png" class="cartEmpty" />
      <img src="/images/ani-cart4.gif" />
    </div>
  <div>
  <div class="hdrRow3">
    <span class="homeBtn">Home</span>
    <div class="searchBar">
      <input class="mega-search-icon" name="searchvalue" placeholder="Search over 120,000 Products" type="text">
      <button type="submit" value="Search">Search</button>
    </div>
    <div class="catalog">
      <ul>
        <li>Platinum Partner's Program</li>
        <li>Deal of the Day</li>
        <li><span class="redText">Free</span> Catalog</li>
      </ul>
    </div>
  </div>
  <div class="hdrRow4">
    <ul class="mainMenu">
      <li class="expandable">Shop
        <ul class="secondExpand">
          <li class="beadsNav">Beads</li>
          <li class="jewelNav">Jewelry Supplies</li>
          <li class="stringNav">Stringing Material</li>
          <li class="wireNav">Wire-Wrapping Wire</li>
          <li class="toolsNav">Tools, Displays &amp; Organizers</li>
          <li class="specNav">Specials Sections</li>
        </ul>
      </li>
      <li class="expandable">New

      </li>
      <li class="expandable">Holidays &amp; Themes

      </li>
      <li class="expandable">Finished Jewelry

      </li>
      <li class="expandable">Resource Center

      </li>
      <li class="expandable">Sale

      </li>
    </ul>
  </div>
</div>
