<div class="fireMountMock">
  <div class="header">
    <div class="hdrRow1">
      <ul class="top-sm">
        <li class="right">800-355-2137</li>
        <li>Login</li>
        <li>Create Account</li>
        <li>Favorites List</li>
      </ul>
    </div>
    <hr>
    <div class="hdrRow2">
      <div class="logo">
        <img src="//image4.fmgstatic.com/grafx/megamenu/fmg-topnav-logo.png" />
      </div>
      <div class="slogan">
        <img src="//image4.fmgstatic.com/grafx/shared/header/slogan-americas-favorite.png" alt="Fire Mountain Gems and Beads - America's Favorite Beading and Jewelry Making Company®" width="397" height="71">
      </div>
      <div class="helpcart">
        <img src="//image1.fmgstatic.com/grafx/shared/navigation/livehelp.png" alt="Live Help">
        <img src="//image2.fmgstatic.com/grafx/shared/navigation/cart-bar.png" class="cartEmpty" />
        <img src="//image4.fmgstatic.com/grafx/shared/navigation/ani-cart4.gif" alt="Check Out">
      </div>
    </div>
    <div class="hdrRow3">
      <span class="homeBtn">Home</span>
      <div class="searchBar">
        <input class="mega-search-icon" name="searchvalue" placeholder="Search over 120,000 Products" type="text">
        <button type="submit" value="Search">Search</button>
      </div>
      <div class="catalog">
        <ul>
          <li>Platinum Partner's Program</li>
          <li>Deal of the Day</li>
          <li><span class="redText">Free</span> Catalog</li>
        </ul>
      </div>
    </div>
    <div class="hdrRow4">
      <ul class="mainMenu">
        <li class="expandable shopNav">Shop
          <ul class="secondExpand">
            <li class="beadsNav">Beads
              <div class="beadsNav subNavHid">
                tons of items
              </div>
            </li>
            <li class="jewelNav">Jewelry Supplies
              <div class="jewelNav subNavHid">
                tons of items
              </div>
            </li>
            <li class="stringNav">Stringing Material
              <div class="stringHid">
                tons of items
              </div>
            </li>
            <li class="wireNav">Wire-Wrapping Wire
              <div class="wireHid">
                tons of items
              </div>
            </li>
            <li class="toolsNav">Tools, Displays &amp; Organizers
              <div class="toolsHid">
                tons of items
              </div>
            </li>
            <li class="specNav">Specials Sections
              <div class="specHid">
                tons of items
              </div>
            </li>
          </ul>
        </li> <!-- end of shop subnav -->
        <li class="expandable new">New

        </li>
        <li class="expandable holiday">Holidays &amp; Themes

        </li>
        <li class="expandable finJewel">Finished Jewelry

        </li>
        <li class="expandable resCen">Resource Center

        </li>
        <li class="expandable sale">Sale

        </li>
      </ul>
    </div>
  </div> <!-- end of Header -->
  <div class="fmmBody">

  </div><!-- end of fmmBody -->
</div> <!-- End of fireMountMock -->
