<style>
  video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
  }
</style>
<video autoplay loop poster="/explosion.jpg" id="bgvid">
  <source src="/explosion.webm" type="video/webm">
</video>
<h1>A home page would usually go</h1>
<h1>here, but it feels wrong to</h1>
<h1>cover up Conway's</h1>
<h1><%= link_to "Game of Life", 'http://www.conwaylife.com/' %> </h1>
<h1>explosion.</h1>
